[submodule "open-gpu-kernel-modules"]
	path = open-gpu-kernel-modules
	url = git@github.com:easonycliu/PFScheOpenGPUKernelModules.git
[submodule "gpuapp"]
	path = gpuapp
	url = git@github.com:easonycliu/PFScheGPUTests.git
