debian
FlameGraph
grub-list.py
tmp
grublist.tar.gz
NsightSystems-linux-cli-public-2025.3.1.90-3582212.deb
syscall.trace
models
cuda_deb

playground/examples/*
!playground/examples/*.cu
playground/infer/venv/*
!playground/infer/venv/.gitkeep
playground/train/venv/*
!playground/train/venv/.gitkeep

cuda/*
!cuda/.gitkeep

/plots/GCgroupFigureVenv
