[submodule "open-gpu-kernel-modules"]
	path = open-gpu-kernel-modules
	url = git@github.com:easonycliu/PFScheOpenGPUKernelModules.git
[submodule "linux"]
	path = linux
	url = git@github.com:easonycliu/GCGroupLinux.git
[submodule "llama.cpp"]
	path = playground/infer/llama.cpp
	url = git@github.com:easonycliu/GCGroupLlama.cpp.git
[submodule "cuda"]
	path = cuda
	url = https://github.com/easonycliu/cuda12.9-driver575.57.08.git
